body{
background: rgd(63,94,251);
background: radial-gradient(circle, rgba(63,94,251) 0%, rgda(252,70, 107,1) 100%）；

font-size: 25px;
font-family:verdana;
color:white;
    
}
a{
    color: azure
}
h1,a{
    font-size: 2em
}